
<div style="text-align:center">
    <h1 style="background-color: green; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      SURVEY FORM BUILDER
    </h1>
    <h3 style="float:right;margin-right: 5rem"></h3>
    <div style="margin-left: 5rem;">
      <button class="btn btn-outline-secondary" routerLink="/preview">preview</button>
      <button class="btn btn-outline-info" >Ajouter un masque de réponses</button>
   </div>  
   
</div> 
  <!-- <h2><a href="https://codesandbox.io/s/angular-ujkls">Click for code</a></h2> -->
   
  <!-- 
  <form-builder [form]="form" change="onChange($event)"></form-builder>  
  <div class="well jsonviewer">
    <pre id="json"><code class="language-json" #json></code></pre>
  </div>
  <button class="btn btn-danger">Envoyer le formulaire</button> -->
  
  
  
      <!-- or both code also works fine.
  
  <form-builder [form]="{
    components: []
  }"></form-builder>  -->
  
  
  
  
  
    
    <!-- <div>
      <form class="login-form" formGroup="ff">
        <input type="text" placeholder="Titre "  formControlName="titre"/>
        <input type="text" placeholder="Type " formControlName="type"/>
        <textarea name="" id="" cols="30" rows="10" placeholder="Description"  formControlName="description"></textarea>/
    </form>
  </div> -->

 
  <div>
    <form [formGroup]="formul">
      <div class="form-group" >
      <label for="Name">titre</label>
      <input type="name" class="form-control" id="Name" placeholder="Veuillez ajouter le titre" formControlName="titre" required>
      </div>
      <div class="form-group">
      <label for="Email1">Type</label>
      <input type="email" class="form-control" id="Email1" placeholder="Veuillez ajouter le type" formControlName="type">
      </div> 
      <!-- <select  class="form-control" formControlName="enquete">
        <option disabled>Selectionner une enquete</option>
        <option>Choisir une Enquete </option>
    </select> -->
    </form>
  </div>

  <br>
  <br>
    <form-builder [form]="form" (change)="onChange($event)"></form-builder>
    <div class="well jsonviewer">
      <pre id="json"><code class="language-json" #json></code></pre>
    </div>
  
  
 
<div>
  <button class="btn btn-success"  (click)="saveform()">Sauvegarder le formulaire</button>
</div>
