<!-- <p>destinataires works!</p> -->


    <header>
        <h1>Destinateurs</h1>
    </header>


  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/accueil">SURVEY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/acceuil">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul> -->
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Entrez l'e-mail" aria-label="Search" id="champ" >
              <button class="btn btn-outline-secondary" type="submit" (click)="add()" id="add-food-button">Ajouter +</button>

              <button class="btn btn-outline-success" type="submit" (click)="smtp()">Envoyer</button>
              
            </form>
          </div>
        </div>
      </nav>
<!-- 
       <table class="table table-striped">
          <thead>
             <tr border="1">
                <th border="1">E-MAIL</th>
                
             </tr>
          </thead>
          <tbody>
            <tr id="table-container">
                <td>{{item.titreEnq}}</td>
                <td>{{item.typeEnq}}</td>
                <td>{{item.descriptionEnq}}</td>
                <td>{{item.actif}}</td>
                <td>{{item.createdEnq}}</td>
                <td>{{item.enqueteur}}</td>
                
        
                <td>
                    <button type="button" class="btn btn-ligth mr-1">
                        Modifier
                    </button>
                    <button type="button" class="btn btn-ligth mr-1">
                        Supprimer
                    </button>
                    
                </td>
            </tr>
          </tbody>
         </table>
     -->

     <ul class="list-group">
        
     </ul>
  </body>